@import "tailwindcss";

@source "./src";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  font-size: 0.75rem;
  line-height: 1.35;
}
